@import "tailwindcss";

:root {
  --background: #f5f7f6;
  --foreground: #23302d;
  --panel: #ffffff;
  --panel-border: #e4e8e6;
  --text-muted: #6e7875;
  --accent-primary: #1e4841;
  --accent-secondary: #bbf49c;
  --accent-danger: #f36a7f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-urbanist);
  --font-mono: var(--font-urbanist);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f5f7f6;
    --foreground: #23302d;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-urbanist), sans-serif;
}
